.scorecard {
    background-color: #11A4DD;
    border: 2px solid;
    border-radius: 0.5rem;
    width: 12rem;
    /* height: 6rem; */
    color: white;
    font-size: x-large;
    margin-top: 2rem;
    box-shadow: 2px 0px 22px 1px rgba(0, 0, 0, 0.4);
}